header {
  background: #E2EEFF;

  .logo {
    font-weight: bold;
    height: 60px;
    transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
  }

  .welcome {
    margin: 50px 5px 5px 50px;
    width: 150px;
    height: 40px;
    display: inline-block;
    color: black;
    font-weight: 900;
  }

  nav {
    //justify-self: right;
    float: right;
    width: 500px;
    display: inline-block;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;

        a {
          padding: 1.5em;
          text-transform: uppercase;
          font-size: .8em;
          color: black;
          font-weight: 900;

          &:hover {
            background: #8E2BFF;
          }
        }
      }
    }
  }
}
